<div class="container">
    <div class="set_header">
        <span class="icon-font" ui-sref="index.mini">&#xe608;</span>
        <div>设置</div>
    </div>
    <div class="main">
        <div>
            账户设置 <span class="to_r">&#xe608;</span>
        </div>
        <div>
            系统通知 <span class="switch to_r"><b ng-class="opClass[0]" ng-click="changClass(0)"></b></span>
        </div>
        <div>
            评论回复提醒 <span class="switch to_r"><b ng-class="opClass[1]" ng-click="changClass(1)"></b></span>
        </div>
        <div>
            清除缓存 <span class="to_r">&#xe608;</span>
        </div>
        <div>
            检查新版本 <span class="to_r">&#xe608;</span>
        </div>
    </div>
</div>